<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SmokeSuite" thread-count="5" parallel="tests">
	<test name="FunctionalTest">
		<classes>
			<class name="com.example.testngparellel" >
			<methods>
				<include name="calc1"></include>
			</methods>
			</class>
		</classes>
	</test> <!-- FunctionalTest -->
	<test name="RegressionTest">
		<classes>
			<class name="com.example.css" >
						</class>
			<class name="com.example.AppTest" />
		</classes>
	</test>
	<test name="unitTest">
		<classes>
			<class name="com.example.dataprovider" >
			<methods>
			<include name ="schedule"></include>
			</methods>
			</class>
		</classes>
	</test>
</suite> <!-- SmokeSuite -->
